doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
  body
    header
      h1 Home Page
    main
      nav
        a(href="/home") Home
        a(href="/about") About Us
      p Welcome to the home page!
