extends layout
block content
    h1 About
    p This is a simple Express app that demonstrates the use of the Pug template engine.
    p It was created as part of a workshop on Node.js.
    p The app has two routes: a home page and an about page.
    p The home page displays a welcome message, and the about page displays information about the app.
    p The app uses the Pug template engine to render the views.
    p The views are stored in the views directory.
    p The app uses the Express framework to handle the routes and render the views.
    p The app also uses the nodemon package to automatically restart the server when changes are made.
    p The app is a simple example of how to create a web application using Node.js and Express.
    p It is intended to be used as a starting point for learning how to build web applications with Node.js.
    p The app is open source and can be found on GitHub at
    p this is a message from the server #{message}