extends layout
block content
    form(method='POST', action='/article/add')
        div
            label(for='title') Title:
            input(type='text', name='title', id='title')
        div
            label(for='content') Content:
            textarea(name='content', id='content')
        div
            label(for='author') Author:
            input(type='text', name='author', id='author')
        div
            input(type='submit', value='Submit')
    a(href='/articles') Back to Articles
