doctype doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
    body
        h1 Hello, world!
        p Welcome to my first Express app!
        p the message sent from the server is #{message}