doctype doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        block content
        br
        hr
        footer
            p Copyright                 | &copy; 2024 |
            p All rights reserved.       | 
                